.bio-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bio-box {
    /* background-color:tomato; */
    height: 30em;
    width: 50em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
}

.portrait {
    height: 100%;

}

.vl {
    border-left: solid black;
    margin-left: 2em;
}

.copy {
    margin-left: 2em;
}

.insta-logo {
    height: 2em;
    width: 2em;
    margin-left: 2em;
  }