body {
    font-family: 'Inter';
    text-decoration: none;
}

h3:hover {
    color: red;
    cursor: pointer;
}

.bottom {
    border-top: .1em;
    border-color: black;
    border-top-style: solid;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}