.display {
    border-top: .1em;
    border-color: black;
    border-top-style: solid;
}

.title {
    margin-left: 1em;
}

.image-bank {
    overflow-y: hidden;
    display: flex;
    overflow-x: scroll;
    margin-bottom: 1em;
    padding-right: 1em;
    height: 15em;
}
